.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


/* ХЕАДЕР */
.header {
  background-color: #f2f2f2;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo{
  width: 228px;
  height: 32px;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;

  z-index: 2;
}

.header__title{
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  width: 730px;

  margin: 0 0 0 64px;

  z-index: 3;
}

.header__subtitle{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;

  width: 388px;

  position: absolute;
  bottom: 30px;
  left: 64px;

  margin: 0;
  z-index: 2;
}

.header__link{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;

  color: #2f80ed;
}

.header__main-illustration{
  width: 765px;
  height: 608px;

  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;

  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 0;
}

/* Дескрипшен */
.description{
  display: flex;
  justify-content: center;

  margin-top: 100px;
}

.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;

  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

  margin: 0;
}

.two-columns__span-accent{
  font-weight: 600;
}


/* Секция цифры и факты */
.digits{
  margin-top: 100px;
}

.section-title{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;

  width: 60%;

  text-align: center;
  margin: 100px auto 0;
}

.section-title_theme_dark{
  color: white;

  z-index: 2;
  margin: 90px auto 0;
}

.section-subtitle{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

  width: 60%;

  text-align: center;
  margin: 20px auto 0;
}

.section-subtitle_theme_dark{
  color: white;

  z-index: 2;
}


/* СТИЛИ ДЛЯ FLEX ТАБЛИЦЫ */
.table{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 1100px;

  margin: 0 auto 100px;
}

.table_theme_dark{
  margin-bottom: 90px;
}

.table__cell{
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 250px;

  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;

  z-index: 1;
}

.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;

  margin: 0;
}

.table__heading_theme_dark{
  color: white;
}

.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;

  margin: 0;
}

.table__text_theme_dark{
  color: white;
}


/* Метод Фейнмана */
.feynman{
  display: flex;
  flex-direction: column;
  gap: 70px;

  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;

  min-height: 890px;

  position: relative;
}

.feynman__title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;

  width: 648px;

  text-align: center;
  margin: 100px auto 0;
}

.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

  text-align: center;
  margin: 0 auto;
}

.feynman__link{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;

  position: absolute;
  top: 50%;
  right: 48px;
}


/* Метод Кауфмана */
.kaufman{
  background-color: #1f1f1f;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;

  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 0;
}


/* Футер */
.footer{
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns{
  display: flex;
  justify-content: space-between;

  width: 90%;

  margin: 60px auto 40px;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer_author{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;

  margin: 18px 0;
}

.footer__column_heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  color: white;

  margin: 0;
}

.footer__column-list{
  list-style: none;

  padding: 0;
  margin: 20px 0 16px;
}

.footer__social-icon{
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}